@{
    ViewBag.Title = "Reportes";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.min.css")"/>
}

<div class="widget-box widget-color-green2">
    <div class="widget-header">
        <h5 class="widget-title">Filtros</h5>
        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="1 ace-icon fa fa-chevron-up bigger-125"></i>
            </a>
        </div>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div class="form-horizontal" id="formBusqueda">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="header lighter greenFalabella">
                            <label>
                                <span class="lbl"> Seleccione mes</span>
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label for="txtMes">Mes</label>
                            <div class="input-group">
                                <input class="form-control date-picker-month" id="txtMes" type="text" data-date-format="dd/mm/yyyy"/>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="wizard-actions">
                <button id="btnLimpiar" type="button" class="btn btn-danger btn-sm"><i class="ace-icon fa fa-undo bigger-110"></i> Limpiar</button>
                <button id="btnExportar" type="button" class="btn btn-success btn-sm"><i class="ace-icon fa fa-file-text bigger-110"></i> Generar Reporte</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/js/viewsJs/rollRatesReport.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/date-time/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/date-time/languages/bootstrap-datepicker.es.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/ace/ace.widget-box.js")"></script>

    <script type="text/javascript">
        rollRatesReportJs.init({
            urlExportar: '@Url.Action("GenerarReporteExcel", "RollRatesReport")'
        });
    </script>
}