@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <img src="@Url.Content("~/Content/images/banco-falabella.png")" alt="" class="img-responsive" width="200">
                    </div>

                    <div class="center">
                        <h3>
                            <span class="bolder colorFalabella">Reportes Comisiones</span>
                        </h3>
                    </div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">

                                    <div class="space-6"></div>

                                    @using (Html.BeginForm("Login", "Account", new { area = "" }, FormMethod.Post, new { @id = "frmLogin", @class = "" }))
                                    {
                                        <fieldset>
                                            <div class="inputs-login">
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input id="Username" name="Username" type="text" class="form-control" placeholder="Usuario" required="required" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <i class="ace-icon fa fa-lock"></i>
                                                        <input id="Password" name="Password" type="password" class="form-control" placeholder="Clave" required="required" />

                                                    </span>
                                                </label>
                                            </div>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <label class="inline">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl"> Recordarme</span>
                                                </label>

                                                <button id="btnLogin" type="submit" class="width-100 btn btn-sm btn-success">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110"> Acceder</span>
                                                </button>

                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    }

                                    <div class="center">
                                        <span class="sigcomt"> Copyright &copy; 2017 Sigcomt SAC. Todos los derechos reservados</span>
                                    </div>

                                    <div class="space-6"></div>


                                </div><!-- /.widget-main -->


                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->

                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->

    @section scripts{

        <!-- basic scripts -->
        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write("<script src='@Url.Content("~/Content/js/jquery.js")'>" + "<" + "/script>");
        </script>

        <!-- <![endif]-->
        <!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='@Url.Content("~/Content/js/jquery1x.js")'>"+"<"+"/script>");
        </script>
        <![endif]-->
        <script type="text/javascript">
            if ('ontouchstart' in document.documentElement) document.write("<script src='@Url.Content("~/Content/js/jquery.mobile.custom.js")'>" + "<" + "/script>");
        </script>
        <script src="@Url.Content("~/Content/js/bootstrap.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery.gritter.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery.blockUI.js")"></script>
        <script src="@Url.Content("~/Content/js/webApp.js")"></script>
        <!-- Ajax BlockUi scripts -->
        <script type="text/javascript">
            var pageBlocked = false;
            var handlerActivo = false;

            $(document).ready(function () {
                $.blockUI.defaults.baseZ = 100000;
                $.blockUI.defaults.overlayCSS.opacity = 0.4;
                $.blockUI.defaults.css.backgroundColor = "transparent";
                $.blockUI.defaults.css.border = '0px none';
                $.blockUI.defaults.fadeIn = 100,
	            $.blockUI.defaults.fadeOut = 100,

	            $(document).ajaxSend(function () {
	                if (!pageBlocked) {
	                    $.blockUI({
	                        message: "Espere un momento por favor",
	                        css: {
	                            border: 'none',
	                            padding: '15px',
	                            backgroundColor: '#000',
	                            '-webkit-border-radius': '10px',
	                            '-moz-border-radius': '10px',
	                            opacity: 1,
	                            color: '#fff'
	                        },
	                        onBlock: function () {
	                            pageBlocked = true;
	                        }
	                    });
	                }
	            }).ajaxStop(function () {
	                jQuery.unblockUI();
	                pageBlocked = false;
	            });

            });
        </script>
        <script type="text/javascript">
            $(function () {

                var parametros = {
                    mensajeEspera: 'Espere un momento por favor...',
                    tituloPopupMensaje: 'Informaci&oacute;n',
                    tituloPopupComfirmacion: 'Confirmaci&oacute;n',
                    tituloEliminacionPopupMensaje: 'Eliminaci&oacute;n',
                    mensajePopupConfirmacion: 'Seguro de continuar con este proceso?',
                    mensajePopupEliminacionConfirmacion: 'Seguro de continuar con este proceso?',
                    btnCancelar: 'Cancelar',
                    btnAceptar: 'Aceptar',
                    formatoFecha: 'dd/MM/yyyy hh:mm'
                };

                webApp.init(parametros);
            });
        </script>

        <script type="text/javascript" src="@Url.Content("~/Content/js/viewsJs/account.js")"></script>

        @if (ViewBag.MessageError != null)
        {
            <script type="text/javascript">
                $.gritter.add({
                    title: 'Alerta',
                    text: '@ViewBag.MessageError',
                    class_name: 'gritter-warning'
                });
            </script>
        }
    }
